{
    "openapi": "3.0.3",
    "info": {
        "title": "COR API Services",
        "description": "Deze Logius REST API's bieden de openbare informatie voor organisaties",
        "contact": {
            "name": "Logius",
            "url": "https://www.logius.nl/diensten/digikoppeling/",
            "email": "servicecentrum@logius.nl"
        },
        "version": "1.2.9-SNAPSHOT"
    },
    "servers": [
        {
            "url": "https://oinregister.logius.nl/api/v1"
        }
    ],
    "security": [
        {
            "default": []
        }
    ],
    "tags": [
        {
            "name": "openapi"
        },
        {
            "name": "Landingpage"
        }
    ],
    "paths": {
        "/openapi.json": {
            "get": {
                "tags": [
                    "openapi"
                ],
                "description": "OpenAPI document",
                "operationId": "getOpenapiJSON",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {
                            "API-Version": {
                                "description": "De huidige versie van de applicatie",
                                "style": "simple",
                                "schema": {
                                    "type": "string"
                                }
                            },
                            "access-control-allow-origin": {
                                "description": "Alle origins mogen bij deze resource",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "default": []
                    }
                ]
            }
        },
        "/": {
            "post": {
                "tags": ["Landingpage"],
                "summary": "Landingpage",
                "description": "Landingpage with a description",
                "operationId": "getLandingpage",
                "responses": {
                    "200": {
                        "description": "Landingpage content",
                        "headers": {
                            "API-Version": {
                                "description": "Current version",
                                "style": "simple",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "default": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "default": {
                "type": "oauth2",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://test.com",
                        "scopes": {}
                    }
                }
            }
        }
    }
}